{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>softwareHouse</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="">logo</a>
            <a href="">home</a>
            <a href="">soluçoes</a>
            <a href="{% url 'sobre'%}">sobre</a>
            <a href="">login</a>
        </nav>
    </header>
    <main>
        <section>
            <p>texto de copy</p>
            <button>compra</button>
            <button>saiba mais</button>
        </section>
    </main>
    
</body>
</html>