* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  padding: 2rem;
  background-color: #14213d;
}

main {
  flex: 1;
  background-color: #e5e5e5;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 60%;
  margin: 2rem auto;
}

.card {
  background-color: #14213d;
  width: 100%;
  height: 550px;
  border-radius: 2rem;
  box-shadow: 7px 12px 28px -2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  background-color: #1b324f;
  box-shadow: 7px 12px 28px 4px rgba(0, 0, 0, 0.3);
}

.card:active {
  background-color: #0e122c;
  transform: scale(0.95);
}
